.footer {

    display: flex;
    flex-direction: row;
    margin: 5px;
}
.clear {
    display: flex;
    width: 60px;
    height: 40px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
}
.clear:hover{
    border: 1px solid yellow;
}

.status {
    display: flex;
    width: 240px;
    height: 40px;
    margin: 5px;
    align-items: center;
}